<?xml version="1.0" encoding="ISO-8859-1"?> 
<module version="1.1"> 
    <name lang="en">Payments</name> 
    <description lang="en">Intended for use with ATutor 2.2+. This module can be used to auto-enroll students after making a payment, and with the Course Seats module installed, manage the number of students who can enroll in each course, auto-add seats when payment is received. Available Moneris USA, Moneris Canada, PayPal, Beanstream, and MiraPay configurations. Contact the maintainers to have your Credit Card Provider added.</description> 
    <maintainers>
        <maintainer> 
            <name>ATutorSpaces</name> 
            <email>support@atutorspaces.com</email> 
        </maintainer>
    </maintainers> 
    <url>https://atutorspaces.com</url> 
    <license>BSD</license> 
	<release> 
        <version>1.7</version> 
        <date>2014-04-13</date> 
        <state>Stable</state> 
        <notes>This version adds support for ATutor 2.2+, now using queryDB() to access the database. See the readme file included with this module for details about setting up the merchant account with your ecommerce service provider. You can find a link to the readme next to the module's listing in the Module Manager.</notes> 
    </release> 
</module>